@import 'global';

.sections {
  position: absolute;
  left: 0;
  top: 0;
  width: 320px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 4;
  border-right: $border;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: $box-shadow;
}
.draggable-top {
  display: none;
}
// mobile-style
@media screen and (max-width: 768px) {
  .draggable-top {
    width: 100%;
    height: 20px;
    user-select: none;
    display: grid;
    justify-content: center;
    padding-top: 5px;
  }
  .draggable-tab {
    width: 100px;
    height: 15px;
    border-radius: 5px;
    background: $text-dark;
    justify-self: center;
  }
  .sections {
    min-height: 100vh;
    overflow-y: scroll;
    width: 100%;
    top: 60%;
  }
}