@import 'global';

.agent-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  justify-items: center;
  text-transform: capitalize;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
.agent-grid-card {
  background: $card-bg;
  border: $border;
  box-shadow: $box-shadow;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    max-width: 60px;
    margin-bottom: 10px;
  }

  span {
    font-size: 0.9em;
    font-weight: bold;
    color: $text-dark;
  }

  &:hover {
    background: $light-blue;
    transform: scale(1.05);
  }
}