@import 'global';

.cross-wrapper {
	position: absolute; 
	right: -10px; 
	top: -10px; 
	cursor: pointer;
}
.cross-background {
	fill: rgba(255, 255, 255, 1);
}
.cross-line {
	stroke: $primary;
	stroke-width: 2;
}