@import 'global';

.header-buttons {
  display: flex;
  align-items: center;
  gap: 7px;
}
.close-btn {
  font-size: 15px;
  color: $text-dark;
}
.card-filter-wrapper {
  position: relative;
  user-select: none;
}
.settings-btn {
  font-size: 18px;
  color: $text-dark;
  font-weight: 500;
}