@import 'global';

.marker-provider{
  background-color: $card-bg; 
  padding: 5px; 
  padding-top: 2px; 
  padding-bottom: 2px; 
  border-radius: 3px; 
  width: min-content;
  text-transform: capitalize;
  color: $text-dark;
  box-shadow: $box-shadow;
  font-size: 16px;
}
.agent-avatar {
  width: 40px;
}

.custom-marker {
  position: relative;
  cursor: pointer;
  display: grid;
  justify-items: center;
}
.custom-marker:hover {
  transform: scale(1.1);
}
.custom-marker:active {
  transform: scale(1.1);
}