@import 'global';

.data-provider {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 15px;
	border-top: 1px solid #e0e0e0;
}
.provider-name {
	font-size: 12px;
	color: #888;
}
.provider-image {
	width: 20px;
	height: 20px;
}