@import 'global';

.thumbnail {
  border-radius: 10px;
  border: $border;
  box-shadow: $box-shadow;
  width: 100%;
  height: 100px;  
  cursor: pointer;
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.05);
  }
}