.boundary-icon {
  cursor: pointer; 
  border-radius: 5px;
  height: 22px;
  padding: 5px;
}
.section-item {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 2px;
  gap: 5px;
}