.bars-wrapper {
	 display: grid; 
	 grid-gap: 10px; 
	 padding: 5px; 
	 font-size: 0.9em;
	 align-content: start;
	 letter-spacing: 0.6px;
}
.bars {
	display: grid; 
	grid-template-rows: min-content 10px; 
}