@import 'global';

.features-wrapper::-webkit-scrollbar {
  width: 13px;

}
.features-wrapper::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.4);
}
.features-wrapper::-webkit-scrollbar-thumb {
  background: $card-bg;
  border-radius: 10px;
  box-shadow: inset 0 0 0 1px rgba(189, 195, 199, 1);
}
.features-wrapper::-webkit-scrollbar-thumb:hover {
  background: $light-bg;
}