// Family
$font-family: 'Roboto', sans-serif;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

$primary: rgba(52, 152, 219, 1);
$light-blue: rgba(52, 152, 219, 0.2);
$border: 1px solid rgba(189, 195, 199, 1);

$panel-bg: linear-gradient(180deg, rgba(44, 62, 80, 1), rgba(52, 73, 94, 1));
$card-bg: #f9f9f9;
$light-bg: rgba(234, 234, 234, 1);
$grid-bg: rgba(236, 240, 241, 1);

$text-light: rgba(255, 255, 255, 1);
$text-dark: rgba(52, 73, 94, 1);